body{
    margin: 0;
}

/*A tag som er i øvre høyre hjørne*/
.admin_link{ 
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

/*A tag som er i øvre høyre hjørne, på hover*/
.admin_link:hover{
    text-decoration: underline;
}

/*Hvit boks i midten av skjermen med logg inn form*/
.logginn_container{
    width: 500px;
    height: 445px;
    border: solid black 2px;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Container som holder logo over logg inn formen*/
.logginn_logo_container{
    width: 100%;
    height: 150px;
    position: relative;
}

/*Selve logoen over formen på logg inn siden*/
.logginn_logo_container img{
    width: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Tekst hvor det står "logg inn" over formen*/
.logginn_container h1{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
}

/*Inputs for passord og brukernavn*/
.logginn_cred{
    width: 250px;
    height: 22px;
    border: solid 1px rgb(96, 96, 96);
    margin-bottom: 15px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    border-radius: 3px;
}

/*Link som tar deg til registrer.php*/
.registrer_link{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 15px;
    color: #909090;
    text-decoration: none;
}

/*Link som tar deg til registrer.php, på hover*/
.registrer_link:hover{
    text-decoration: underline;
    color: black;
}

/*Checkbox for å vise eller skjule passord*/
.vispassord_label{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

/*Knapp hvor det står logg inn*/
.logginn_button{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #7ED0FF;
    color: white;
    cursor: pointer;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    margin-top: 15px;
}

/*Knapp hvor det står logg inn, på hover*/
.logginn_button:hover{
    background-color: #2483ba;
}

/*Varsel på logg inn skjermen om noe går galt*/
.logginn_varsel{
    display: none;
    width: 250px;
    height: 60px;
    border: solid 1px rgb(96, 96, 96);
    background-color: rgba(255, 0, 0, 0.458);
    margin-bottom: 15px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
}

/*Boks på venstresiden av skjermen som inneholder dropdown meny*/
.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    background-color: white;
}

/*Container som inneholder dropdown meny*/
.dropdown_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/*dropdown meny knappen*/
.dropbtn {
    background-image: url(img/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*Dropdown menyen*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Dropdown menyen*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
}

/*Linker inne i dropdown menyen*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Linker inne i dropdown menyen, på hover*/
.dropdown-content a:hover {background-color: #f1f1f1}

/*Viser dropdown meny på hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*Skifter bakgrunnsfarge av dropdown knapp på hover*/
.dropdown:hover .dropbtn {
    background-color: #616161bb;
}

/*Container som inneholder brukernavn og profilbilde i nedre venste hjørnet*/
.profile{
    width: 140px;
    height: fit-content;
    align-items: center;
    text-align: center;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    position: absolute;
    bottom: 0;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar_profile_image_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Selve profilbildet*/
.profile_image_sidebar{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Hvit boks hvor man skriver inn meldinger*/
.message_bar{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.745) 4px 6px 12px;
    z-index: 1;
}

/*Formen som inneholder inputs for å sende meldinger*/
.message_form{
    margin-left: 170px;
    height: 100px;
    background-color: white;
    vertical-align: middle;
    line-height: 100px; 
    position: relative;
}

/*Input hvor man skriver inn melding*/
#writeArea{
    height: 50px;
    width: 50%;
    border-radius: 50px;
    border: solid black 1px;
    text-indent: 20px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 30px;
}

/*Knapp for å sende melding*/
#sendButton{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #7ED0FF;
    border: none;
    cursor: pointer;
    background-image: url(img/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/*Knapp for å sende melding, på hover*/
#sendButton:hover{
    background-color: #2483ba;
}

/*Hvit boks hvor man velger bilde å sende*/
.imageMenu{
    display: none;
    width: 250px;
    height: 200px;
    border: solid 1px black;
    border-radius: 15px;
    position: absolute;
    bottom: 120px;
    background-color: white;
    text-align: center;
    line-height: 0px; 
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
}

/*Selve inputen hvor man velger bilde*/
#imageInput{
    position: relative;
    top: 15px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    text-align: left;
    width: 180px;
}

/*Container som inneholder preview av bilde man velger*/
.preview_img_container{
    width: 150px;
    height: 100px;
    border: solid 1px black;
    position: relative;
    top: 30px;
    margin-left: 50px;
}

/*Selve preview bilde*/
#preview_img{
    object-fit: contain;
    max-width: 150px;
    max-height: 100px;
}

/*Knapp for å vise bilde velg meny*/
#addImageButton{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 5px;
    border-radius: 50px;
    background-color: #7ED0FF;
    border: none;
    cursor: pointer;
    background-image: url(img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/*Knapp for å vise bilde velg meny, på hover*/
#addImageButton:hover{
    background-color: #2483ba;
}

/*Container som inneholder området hvor meldingene kommer opp*/
.message_area_container{
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*Området på skjermen hvor meldingene kommer opp*/
.message_area{
    margin-top: 20px;
    width: 100%;
    margin-left: 150px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

/*En div for å dytte den nederste meldingen opp over #textArea*/
.message_bottom{
    width: 100%;
    height: 120px;
}

/*Selve meldingene*/
.message{
    margin-left: 20px;
    height: fit-content;
    width: fit-content;
    max-width: 70%;
    max-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
}

/*Brukernavn i meldingene*/
#message_username{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 13px;
    margin-left: 5px;
}

/*Innhold i meldingene*/
#message_content{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 16px;
}

/*Bilde inne i meldinger med bilde*/
#message_image{
    object-fit: contain;
    max-width: 500px;
    max-height: 300px;
    margin-bottom: 20px;
}

/*Profil bilde på meldinger*/
#message_profile_image{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Container som inneholder brukernavn og profilbilde i melding*/
#message_username_container{
    position: relative;
    top: 10px;
    display: flex;
}

/*Container som centerer varsel*/
.messages_varsel_container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-top: 20px;
}

/*Selve varselen som kommer hvis du f.eks prøver å laste opp feil filtype*/
.messages_varsel{
    width: 80%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.662);
    border-radius: 30px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: white;
    z-index: 999;
    text-align: center;
    line-height: 2px;
    display: none;
}

/*Message Board logo i hjørnet*/
.corner_logo{
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 0;
}

/*Container som inneholder bruker instillinger*/
.settings_container{
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    border: solid black 1px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Tar margin på sidene på bruker innstillinger*/
.settings_inner_container{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

/*h1 tag i bruker innstillinger*/
.settings_inner_container h1{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
}

/*Ferdig knappen på instillinger*/
.settings_ferdig{
    width: 130px;
    height: 50px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    border: solid 1px black;
    cursor: pointer;
    top: 185px;
    position: absolute;
    margin-top: 345px;
}

/*Container som inneholder brukernavn og profilbilde til logget inn bruker på bruker instillinger*/
.settings_profile_container{
    display: flex;
}

/*p tag i settings profile container*/
.settings_profile_container p{
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 35px;
    margin-left: 20px;
}

/*Proilbilde til logget inn bruker på instillinger*/
.settings_profile_picture{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Container som sentrerer logo på instillinger*/
.settings_logo_container{
    width: 100%;
    height: 70px;
}

/*Logoen på instillinger*/
.settings_logo_container img{
    height: 50px;
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Knapp for å endre profilbilde i settings*/
#settings_endre_profilbilde{
    width: 130px;
    height: 50px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    border: solid 1px black;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}

/*Knapp for å endre brukernavn i settings*/
#settings_endre_brukernavn{
    width: 130px;
    height: 50px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    border: solid 1px black;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}

/*Container som inneholder input for å endre brukernavn på instillinger*/
#endreBrukernavnMeny {
    position: relative;
    display: none;
    top: 20px;
}

/*Container som inneholder input for å endre profilbilde på instillinger*/*/
#imageMenuSettings{
    height: 220px;
}

/*Lagre knappen når man endrer profilbilde*/
#profileImageSettingsSubmit{
    position: relative;
    top: 37px;
}

/*Varsel man får hvis noe går galt på innstillinger*/
.settings_warning{
    display: none;
    width: 282px;
    height: 70px;
    border: solid 1px rgb(77, 77, 77);
    background-color: rgba(255, 89, 89, 0.353);
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 14px;
}

/*Delen av en melding som viser når meldingen ble sendt*/
#message_timestamp{
    color: rgb(94, 94, 94);
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/*Knapp for å slette meldinger man har sendt*/
#deleteMessageButton{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    background-image: url(img/trashcan.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 50%;
    border: black 1px solid;
    border-radius: 10px;
    background-color: white;
}

/*Knapp for å slette meldinger man har sendt, på hover*/
#deleteMessageButton:hover{
    background-color: rgb(255, 113, 113);
}

/*Knapp på bunnen av skjermen hvor man kan laste inn flere meldinger*/
#lastInnFlereButton{
    background-color: #7ED0FF;
    font-family: "indivisible-variable", sans-serif;
    font-variation-settings: "wght" 400;
    cursor: pointer;
    margin-left: 20px;
    color: white;
    width: 200px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

/*Knapp på bunnen av skjermen hvor man kan laste inn flere meldinger, på hover*/
#lastInnFlereButton:hover{
    background-color: #2483ba;
}